.card{
  background: rgb(10, 10, 10);

}

.heading{
background:rgb(251, 5, 5);

}

.text-light{
position: relative;
top: 31px;


}

body{
  background-image: url("./asset/book-img.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}